@CHARSET "UTF-8";

#payzen_iframe {
    position: relative;
    width: 100%;
    min-height: 440px;
    border: 0 none;
    margin-bottom: 0 !important;
}

.kr-form-error span a {
    all: inherit !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

button.kr-popin-button {
    display: none !important;
    width: 0;
    height: 0;
}

.blockUI::before {
    content: '';
    background: url("../images/loading.gif");
    animation: '';
    width: 24px;
    height: 24px;
    cursor: none;
    position: fixed;
    top: 50%;
    left: 50%;
}
