@CHARSET "UTF-8";

#payzen_iframe {
    position: relative;
    width: 100%;
    min-height: 440px;
    border: 0 none;
    margin-bottom: 0 !important;
}

.kr-form-error span a {
    all: inherit !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

button.kr-popin-button {
    display: none !important;
    width: 0;
    height: 0;
}

.blockUI::before {
    content: '';
    background: url("../images/loading.gif");
    animation: '';
    width: 24px;
    height: 24px;
    cursor: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

.blockUI.blockOverlay {
    z-index: -1 !important;
}

.woocommerce-MyAccount-content .wc-block-components-notice-banner.is-info {
    display: none !important;
}

div.kr-smart-form-list-section-name {
    font-weight: bold !important;
}

#add_payment_method button.kr-smart-form-single-payment-button {
    display: none !important;
}

.woocommerce-account .woocommerce-MyAccount-content #payzenstd_rest_wrapper {
    margin-bottom: 5%;
}

#order_review:not(.woocommerce-checkout-review-order) .payment_method_payzensubscription div {
    display: none !important;
}